body {
  width: 980px;
  align-self: auto;
}
.content {
  width: 980px;
  height: 822px;
}
.head-container {
  width: 980px;
  height: 300px;
  background-color: #64516e;
  align-content: center;
  position: relative;
  left: 15px;
}
.container2 {
  width: 980px;
  height: 870px;
  background-image: url("../images/Patterns.jpg");
}
.titleBox {
  position: relative;
  left: 50px;
  top: -47px;
}
h3 {
  position: relative;

  top: 5px;
  padding: left;
  color: #ffffff;
  font-family: "Trebuchet MS";
}
.descripBox {
  position: relative;
  top: -130px;
  left: 16px;
}

h2 {
  align-content: center;
  width: 400px;
  text-align: center;
  margin-right: 20px;
  position: relative;
  padding: 20px;
  border: 1px;
  background-color: #f5c0b7;
  color: rgb(122, 50, 189);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 25px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}
.how-to-play {
  height: 282px;
  padding: 10px;
  position: relative;
  left: 50px;
  top: -5px;
  background-color: rgb(218, 97, 126);
  font-size: 20px;
  color: rgb(245, 248, 249);
  border-radius: 10px;
  width: 739px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}
.score {
  position: relative;
  bottom: 253px;
}
#matchingTotal {
  position: relative;
  left: 78px;
  top: 155px;
  width: 300px;
  height: 150px;
  background-color: #b073d0;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}

#wintotal {
  position: relative;
  color: rgb(54, 53, 53);
  font-size: 30px;
  font-weight: bold;
  left: 122px;
  top: 141px;
  width: 235px;
  height: 80px;
  background-color: rgb(131, 224, 131);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}
#lose {
  color: rgb(54, 53, 53);
  bottom: 200px;
  position: absolute;
  left: 628px;
  top: 226px;
  width: 252px;
  height: 80px;
  background-color: rgb(163, 181, 156);
  bottom: 175px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}
/* #random2 {
  position: relative;
  display: flex;
  left: 830px;
  top: -43px;
  width: 150px;
  height: 150px;
  background-color: rgb(118, 252, 225);
  color: rgb(54, 53, 53);
  font-size: 40px;
  font-weight: bolder;
  border-radius: 10px;
} */

#random {
  position: relative;
  text-align: center;
  left: 70px;
  top: 35px;
  width: 175px;
  height: 175px;
  background-color: rgb(118, 252, 225);
  color: rgb(54, 53, 53);
  font-size: 80px;
  font-weight: bolder;
  border-radius: 10px;
  padding: 20px 5px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}

.button {
  display: inline-flex;
  margin-left: 37px;
  position: relative;
  bottom: -4px;
  left: 2px;
  background: none;
  border: none;
}
.multibuts {
  width: 679px;
  height: 109px;
  background-color: #f0e5e5;
  position: relative;
  left: 168px;
  bottom: 20px;
  border-radius: 145px;
  box-shadow: 1px 2px 4px rgba(113, 113, 113, 0.99);
}

@media screen and (max-width: 980px) {
  .content {
    align-content: auto;
    width: 100%;
    height: 60%;
  }

  .descripBox {
    float: left;
    width: 100%;
  }
  .how-to-play {
    width: 70%;
    height: 90%;
    float: left;
    padding: 20px;
  }
  .random-row2 {
    width: 20%;
    left: -28px;
  }
  .head-container {
    width: 100%;
  }

  .score {
    width: 100%;
  }
  /* .score-1 {
    width: 100%;
  } */
}

@media screen and (max-width: 660px) {
  .content {
    float: left;
    width: 100%;
    height: 980px;
  }
  .head-container {
    widows: 100%;
  }
  .how-to-play {
    width: 70%;
    height: 80%;
    float: left;
  }
  .random-row2 {
    width: 30%;
    float: left;
    top: 20px;
  }
  .score {
    float: left;
    width: 60%;
  }
  .score-1 {
    float: left;
    width: 20%;
  }
  .score-2 {
    float: left;
    width: 20%;
  }
  .multibuts {
    float: left;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    float: left;
    width: 57%;
    height: 100%;
  }
  .descripBox {
    float: left;
    width: 100%;
    top: -69px;
  }
  .titleBox {
    top: -40px;
    width: 70%;
  }
  h2 {
    font-size: 35px;
    width: 90%;
  }
  .how-to-play {
    font-size: 13px;
    width: 50%;
    height: 80%;
    float: left;
    left: 31px;
  }

  .random-row2 {
    width: 20%;
    font-size: 20px;
    left: -18px;
  }
  .score {
    float: left;
    width: 80%;
    bottom: 200px;
  }
  #matchingTotal {
    top: 141px;
    width: 45%;
    left: 56px;
  }
  #lose {
    width: 235px;
    left: 324px;
  }
  /* .score-1 {
    float: left;
    width: 10%;
  }
  .score-2 {
    float: left;
    width: 10%;
  } */

  .multibuts {
    width: 83%;
    left: 57px;
  }

  .button {
    margin-left: 0px;
  }
  img {
    height: 83px;
    width: 77px;
    padding-top: 10px;
    left: 7px;
  }
}
